.footer {
  display: flex;
  background-color: var(--dark-grey);
}

.footer__container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address__text {
  display: block;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.address-list {
  display: block;
  padding-left: 0;
}

.address__item:first-child {
  margin-top: 10px;
  margin-bottom: 10px;
}

.address__link {
  display: inline-block;
  margin-bottom: 0;

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--footer);

  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubik-normal);

  &:hover,
  &:focus {
    color: var(--blue);
  }
}
