.hero__container {
  padding: 118px 15px;
  min-width: 320px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
    padding: 200px 15px;
  }
}

.hero__container-image {
  max-width: 1600px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      var(--linear-hero),
      var(--linear-hero)
    ),
    url(../images/hero-img-mob.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        var(--linear-hero),
        var(--linear-hero)
      ),
      url(../images/hero-img-tab.jpg);
  }

  @media (min-width: 1200px) {
    min-height: 600px;
    background-image: linear-gradient(
        to right,
        var(--linear-hero),
        var(--linear-hero)
      ),
      url(../images/hero-image.jpg);
  }
}

.hero__title {
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text);

  @media (min-width: 480px) {
    width: 360px;
  }

  @media (min-width: 768px) {
    width: 360px;
  }

  @media (min-width: 1200px) {
    width: 700px;
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero__button {
  border-radius: 4px;
  padding: 10px 32px;
  border: 0;
  outline: none;
  cursor: pointer;

  background-color: var(--blue);
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--white-text);
}
